<h1 class="display-4 pt-5 pb-5 pl-3 custom-spacing bg-grad m-0 text-white">Weather <span class="font-weight-bold text-contrast">Dashboard</span></h1>

<div class="container-fluid center-pos bg-blue pl-2 pr-2">
    <div *ngFor="let city of cities; index as i;">
        <div class="card width-400px mt-4 mb-4 text-white bg-grad" [id]="i">
            
            <div class="d-flex">
                <input type="text" class="input-field m-2 p-2" placeholder="city" (keyup)="enterCity($event, i)" [value]="city.name">
                <div>
                    <img *ngIf="city.icon" class="card-img-top weather-icon ml-4 mt-4 mr-4" [src]="city.icon" alt="weather image">
                    <div class="text-center">{{ city.weather[0].main }}</div>
                </div>
            </div>

            <div class="card-body">
                <button type="button" class="btn bg-contrast" (click)="getWeather(i)">See Weather</button>
                
                <div class="mt-5">
                    <div class="data mt-5">
                        <div *ngIf="city.coord.lon"><span class="font-size-small mr-3 text-muted">Longitude: </span> {{ city.coord.lon }}</div>
                        <div *ngIf="city.coord.lat"><span class="font-size-small mr-3 text-muted">Latitude: </span> {{ city.coord.lat }}</div>

                        <div *ngIf="city.main.temp" class="mt-3"><span class="font-size-small mr-3 text-muted">Temperature: </span>{{ this.weatherService.convertInCelsius(city.main.temp) }} Celsius</div>
                        <div *ngIf="city.main.feels_like"><span class="font-size-small mr-3 text-muted">Feels like </span> {{ this.weatherService.convertInCelsius(city.main.feels_like) }} Celsius</div>
                        <div *ngIf="city.main.temp_min"><span class="font-size-small mr-3 text-muted">Minimum: </span>{{ this.weatherService.convertInCelsius(city.main.temp_min) }} Celsius</div>
                        <div *ngIf="city.main.temp_max"><span class="font-size-small mr-3 text-muted">Maximum: </span>{{ this.weatherService.convertInCelsius(city.main.temp_max) }} Celsius</div>

                        <div *ngIf="city.main.pressure" class="mt-3"><span class="font-size-small mr-3 text-muted">Pressure: </span>{{ city.main.pressure }}</div>
                        <div *ngIf="city.main.humidity"><span class="font-size-small mr-3 text-muted">Humidity: </span>{{ city.main.humidity }}</div>
                        <div *ngIf="city.wind.speed"><span class="font-size-small mr-3 text-muted">Wind Speed: </span>{{ city.wind.speed }}</div>
                    </div>

                    <div *ngIf="city.update" class="font-xs text-right font-weight-bold text-success">Updated at {{ city.update }}</div>
                </div>
            </div>
          </div>
    </div>
</div>