.center-pos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.width-400px {
    width: 400px;
}

.custom-spacing {
    letter-spacing: 2px;
    word-spacing: 5px;
}

.input-field {
    width: 40vh;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.weather-icon {
    width: 50px;
}

.bg-blue {
    background-color: var(--dark-blue);
}

.bg-grad {
    background: linear-gradient(to-right var(--dark-blue), var(--blue));
}