.center-pos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.width-400px {
    width: 400px;
}

.custom-spacing {
    letter-spacing: 2px;
    word-spacing: 5px;
}

.input-field {
    width: 40vh;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    text-transform: capitalize;
}

.weather-icon {
    width: 50px;
}

.bg-blue {
    background-color: var(--dark-blue);
}

.bg-grad {
    background-color: var(--super-blue);
}

.text-contrast {
    color: var(--contrast-red);
}

.bg-contrast {
    background: var(--contrast-red);
    color: white;
    border-radius: 4rem;
    width: 25vh;
    font-size: 0.9rem;
}

.font-size-small {
    font-size: 0.8rem;
}
.font-xs {
    font-size: 0.7rem;
}

.body-opacity {
    opacity: 0;
}